@theme inline {
	--color-primary: var(--lucid-primary);
	--color-primary-hover: var(--lucid-primary-hover);
	--color-primary-foreground: var(--lucid-primary-foreground);
	--color-primary-medium: var(--lucid-primary-medium);
	--color-primary-low: var(--lucid-primary-low);
	--color-primary-low-border: var(--lucid-primary-low-border);
	--color-primary-low-foreground: var(--lucid-primary-low-foreground);
	--color-secondary: var(--lucid-secondary);
	--color-secondary-hover: var(--lucid-secondary-hover);
	--color-secondary-foreground: var(--lucid-secondary-foreground);
	--color-success: var(--lucid-success);
	--color-success-foreground: var(--lucid-success-foreground);
	--color-success-medium: var(--lucid-success-medium);
	--color-success-low: var(--lucid-success-low);
	--color-success-low-border: var(--lucid-success-low-border);
	--color-success-low-foreground: var(--lucid-success-low-foreground);
	--color-danger: var(--lucid-danger);
	--color-danger-hover: var(--lucid-danger-hover);
	--color-danger-foreground: var(--lucid-danger-foreground);
	--color-danger-medium: var(--lucid-danger-medium);
	--color-danger-low: var(--lucid-danger-low);
	--color-danger-low-border: var(--lucid-danger-low-border);
	--color-danger-low-foreground: var(--lucid-danger-low-foreground);
	--color-warning: var(--lucid-warning);
	--color-warning-foreground: var(--lucid-warning-foreground);
	--color-warning-medium: var(--lucid-warning-medium);
	--color-warning-low: var(--lucid-warning-low);
	--color-warning-low-border: var(--lucid-warning-low-border);
	--color-warning-low-foreground: var(--lucid-warning-low-foreground);
	--color-info: var(--lucid-info);
	--color-info-foreground: var(--lucid-info-foreground);
	--color-info-medium: var(--lucid-info-medium);
	--color-info-low: var(--lucid-info-low);
	--color-info-low-border: var(--lucid-info-low-border);
	--color-info-low-foreground: var(--lucid-info-low-foreground);
	--color-yellow: var(--lucid-yellow);
	--color-yellow-foreground: var(--lucid-yellow-foreground);
	--color-yellow-medium: var(--lucid-yellow-medium);
	--color-yellow-low: var(--lucid-yellow-low);
	--color-yellow-low-border: var(--lucid-yellow-low-border);
	--color-yellow-low-foreground: var(--lucid-yellow-low-foreground);
	--color-green: var(--lucid-green);
	--color-green-foreground: var(--lucid-green-foreground);
	--color-green-medium: var(--lucid-green-medium);
	--color-green-low: var(--lucid-green-low);
	--color-green-low-border: var(--lucid-green-low-border);
	--color-green-low-foreground: var(--lucid-green-low-foreground);
	--color-blue: var(--lucid-blue);
	--color-blue-foreground: var(--lucid-blue-foreground);
	--color-blue-medium: var(--lucid-blue-medium);
	--color-blue-low: var(--lucid-blue-low);
	--color-blue-low-border: var(--lucid-blue-low-border);
	--color-blue-low-foreground: var(--lucid-blue-low-foreground);
	--color-purple: var(--lucid-purple);
	--color-purple-foreground: var(--lucid-purple-foreground);
	--color-purple-medium: var(--lucid-purple-medium);
	--color-purple-low: var(--lucid-purple-low);
	--color-purple-low-border: var(--lucid-purple-low-border);
	--color-purple-low-foreground: var(--lucid-purple-low-foreground);
	--color-sidebar: var(--lucid-sidebar);
	--color-background: var(--lucid-background);
	--color-background-hover: var(--lucid-background-hover);
	--color-card: var(--lucid-card);
	--color-card-hover: var(--lucid-card-hover);
	--color-popover: var(--lucid-popover);
	--color-input: var(--lucid-input);
	--color-overlay: var(--lucid-overlay);
	--color-border: var(--lucid-border);
	--color-title: var(--lucid-title);
	--color-subtitle: var(--lucid-subtitle);
	--color-body: var(--lucid-body);
	--color-muted: var(--lucid-muted);
	--color-icon: var(--lucid-icon);
	--color-icon-hover: var(--lucid-icon-hover);
}

@theme {
	--font-body: "Inter", sans-serif;
	--breakpoint-xs: 420px;
	--breakpoint-3xl: 1600px;
	--spacing-15: 15px;
	--animate-enter: animation-enter 0.2s ease;
	--animate-leave: animation-leave 0.2s ease forwards;
	--animate-dropdown: animation-dropdown 0.2s ease;
	--animate-from-left: animation-from-left 0.2s ease;
	--animate-fade-out: animation-fade-out 0.2s ease;
	--animate-fade-in: animation-fade-in 0.2s ease;
	--animate-slide-from-right-in: animate-slide-from-right-in 200ms ease;
	--animate-slide-from-right-out: animate-slide-from-right-out 200ms ease 100ms
		forwards;
	--animate-slide-from-left-in: animate-slide-from-left-in 200ms ease;
	--animate-slide-from-left-out: animate-slide-from-left-out 200ms ease 100ms
		forwards;
	--animate-slide-from-bottom-in: animate-slide-from-bottom-in 200ms ease;
	--animate-slide-from-bottom-out: animate-slide-from-bottom-out 200ms ease
		100ms forwards;
	--animate-overlay-show: animate-overlay-show 0.2s ease;
	--animate-overlay-hide: animate-overlay-hide 0.2s ease;
	--animate-modal-show: animate-modal-show 0.2s ease;
	--animate-modal-hide: animate-modal-hide 0.2s ease;
}

@utility grid-cols-main-layout {
	grid-template-columns: auto 1fr;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
