@theme inline {
	--color-primary: var(--lucid-primary-base);
	--color-primary-base: var(--lucid-primary-base);
	--color-primary-hover: var(--lucid-primary-hover);
	--color-primary-contrast: var(--lucid-primary-contrast);
	--color-primary-muted-bg: var(--lucid-primary-muted-bg);
	--color-primary-muted-border: var(--lucid-primary-muted-border);
	--color-primary-muted-contrast: var(--lucid-primary-muted-contrast);
	--color-secondary-base: var(--lucid-secondary-base);
	--color-secondary-hover: var(--lucid-secondary-hover);
	--color-secondary-contrast: var(--lucid-secondary-contrast);
	--color-sidebar-base: var(--lucid-sidebar-base);
	--color-navigation-hover: var(--lucid-navigation-hover);
	--color-navigation-active: var(--lucid-navigation-active);
	--color-background-base: var(--lucid-background-base);
	--color-background-hover: var(--lucid-background-hover);
	--color-row-hover: var(--lucid-row-hover);
	--color-card-base: var(--lucid-card-base);
	--color-card-hover: var(--lucid-card-hover);
	--color-card-contrast: var(--lucid-card-contrast);
	--color-dropdown-base: var(--lucid-dropdown-base);
	--color-dropdown-hover: var(--lucid-dropdown-hover);
	--color-dropdown-contrast: var(--lucid-dropdown-contrast);
	--color-input-base: var(--lucid-input-base);
	--color-input-contrast: var(--lucid-input-contrast);
	--color-icon-base: var(--lucid-icon-base);
	--color-icon-hover: var(--lucid-icon-hover);
	--color-icon-faded: var(--lucid-icon-faded);
	--color-error-base: var(--lucid-error-base);
	--color-error-hover: var(--lucid-error-hover);
	--color-error-contrast: var(--lucid-error-contrast);
	--color-warning-base: var(--lucid-warning-base);
	--color-warning-contrast: var(--lucid-warning-contrast);
	--color-workflow-yellow-bg: var(--lucid-workflow-yellow-bg);
	--color-workflow-yellow-border: var(--lucid-workflow-yellow-border);
	--color-workflow-yellow-text: var(--lucid-workflow-yellow-text);
	--color-workflow-green-bg: var(--lucid-workflow-green-bg);
	--color-workflow-green-border: var(--lucid-workflow-green-border);
	--color-workflow-green-text: var(--lucid-workflow-green-text);
	--color-workflow-blue-bg: var(--lucid-workflow-blue-bg);
	--color-workflow-blue-border: var(--lucid-workflow-blue-border);
	--color-workflow-blue-text: var(--lucid-workflow-blue-text);
	--color-workflow-purple-bg: var(--lucid-workflow-purple-bg);
	--color-workflow-purple-border: var(--lucid-workflow-purple-border);
	--color-workflow-purple-text: var(--lucid-workflow-purple-text);
	--color-info-faded: var(--lucid-info-faded);
	--color-info-base: var(--lucid-info-base);
	--color-info-contrast: var(--lucid-info-contrast);
	--color-border: var(--lucid-border);
	--color-overlay-base: var(--lucid-overlay-base);
	--color-title: var(--lucid-title);
	--color-subtitle: var(--lucid-subtitle);
	--color-body: var(--lucid-body);
	--color-unfocused: var(--lucid-unfocused);
}

@theme {
	--font-body: "Inter", sans-serif;
	--breakpoint-xs: 420px;
	--breakpoint-3xl: 1600px;
	--spacing-15: 15px;
	--animate-enter: animation-enter 0.2s ease;
	--animate-leave: animation-leave 0.2s ease;
	--animate-dropdown: animation-dropdown 0.2s ease;
	--animate-from-left: animation-from-left 0.2s ease;
	--animate-fade-out: animation-fade-out 0.2s ease;
	--animate-fade-in: animation-fade-in 0.2s ease;
	--animate-slide-from-right-in: animate-slide-from-right-in 200ms ease;
	--animate-slide-from-right-out: animate-slide-from-right-out 200ms ease 100ms
		forwards;
	--animate-slide-from-left-in: animate-slide-from-left-in 200ms ease;
	--animate-slide-from-left-out: animate-slide-from-left-out 200ms ease 100ms
		forwards;
	--animate-slide-from-bottom-in: animate-slide-from-bottom-in 200ms ease;
	--animate-slide-from-bottom-out: animate-slide-from-bottom-out 200ms ease
		100ms forwards;
	--animate-overlay-show: animate-overlay-show 0.2s ease;
	--animate-overlay-hide: animate-overlay-hide 0.2s ease;
	--animate-modal-show: animate-modal-show 0.2s ease;
	--animate-modal-hide: animate-modal-hide 0.2s ease;
}

@utility grid-cols-main-layout {
	grid-template-columns: auto 1fr;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
