---
import getToolkit from "@lucidcms/astro/toolkit";

export const prerender = false;

const fullSlug = Astro.params.slug ? `/${Astro.params.slug}` : "/";
const toolkit = await getToolkit();

const response = await toolkit.documents.getSingle({
	collectionKey: "page",
	status: "latest",
	query: {
		filter: {
			_fullSlug: {
				value: fullSlug,
			},
		},
	},
});

if (response.error) {
	Astro.response.status = 404;
	return;
}

const page = response.data;

// export async function getStaticPaths() {
// 	const toolkit = await getToolkit();

// 	const response = await toolkit.documents.getMultiple({
// 		collectionKey: "page",
// 		status: "latest",
// 		query: {
// 			perPage: -1,
// 		},
// 	});

// 	if (response.error) {
// 		throw new Error(
// 			response.error.message ?? "Failed to fetch Lucid pages for static paths.",
// 		);
// 	}

// 	return response.data.data.map((page) => ({
// 		params: {
// 			slug:
// 				page.fields?.fullSlug.translations?.en === "/"
// 					? undefined
// 					: page.fields?.fullSlug.translations?.en,
// 		},
// 		props: {
// 			page,
// 		},
// 	}));
// }

// const { page } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{page.fields?.title.translations?.en} | Static Lucid Route</title>
	</head>
	<body>
		<main>
			<eyebrow>Static Lucid Client Route</eyebrow>
			<h1>{page.fields?.title.translations?.["en"]}</h1>
			<p>Lucid full slug: <code>{page.fields?.fullSlug.translations?.en}</code></p>
		</main>
	</body>
</html>
